@media only screen and (max-width: 1305px){
	.carousel-caption h1{
	    font-size: 35px;
		max-width: 476px;
}
}
@media only screen and (max-width: 680px){
	.carousel-caption h1{
	    font-size: 32px;
		max-width: 423px;
}
@media only screen and (max-width: 615px){
	.carousel-caption h1{
	    font-size: 22px;
		max-width: 423px;
}
}
@media only screen and (max-width: 440px){
	.carousel-caption h1{
	    font-size: 13px;
		max-width: 183px;
}
.carousel-caption p a{
    
    max-width: 200px;
	margin: 10px auto;
	padding: 8px;

    }
}
@media only screen and (max-width: 310px){
   .carousel-caption p a{
    
    max-width: 191px;
	margin: 8px auto;
	padding: 6px;
	
	position: relative;
	top: 11px;
	
    }
}
@media only screen and (max-width: 765px){
 .col-value{
 	max-width: 292px;
 }
}
@media only screen and (max-width: 760px){
 .col-value{
 	max-width: 292px;
 }
}
@media only screen and (max-width: 320px){
	.contact-us a{
    list-style: none;
	color: #2ECC71;
	border: 2px solid #2ECC71;
	max-width: 190px;
	margin: 5px auto;
	padding: 4px;
	font-weight: bold;
	position: relative;
	top: 0px;
}
.col-images_1{
	padding-bottom: 10px;
}
.carousel-inner{
	max-width: 300px!important;
	max-height: 200px;
}
input[type=button] {
    background-color: #679E00;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
}
}
@media only screen and (max-width: 376px){
	.contact-us a{
    list-style: none;
	color: #2ECC71;
	border: 2px solid #2ECC71;
	max-width: 190px;
	margin: 5px auto;
	padding: 4px;
	font-weight: bold;
	position: relative;
	top: 0px;
	}
	.col-images_1{
	padding-bottom: 10px;
}
input[type=button] {
    background-color: #679E00;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
}
}