/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100%;
    overflow-x:hidden;
 }
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.carousel-caption{
    top: 50%;
transform: translateY(-6%);
}
.carousel-caption h1{
    font-size: 62px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    max-width: 786px;
    margin: 0 auto;
    padding: 10px;
    font-weight: bold;
}
.carousel-caption p a{
    list-style: none;
    color: #fff;
    border: 2px solid #fff;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px;
    font-weight: bold;
    position: relative;
    top: 19px;
    text-transform: uppercase;
    }
    .navbar-default {
    background-color: #252E30;
    border-color: transparent;

     }
 .navbar {
    border-radius: 0!important;
}
 .navbar-default .navbar-nav > li > a{
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
 }
 .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 47px;
    color: #fff;
    font-weight: bold;
}

/*.navbar-default .navbar-brand li :hover, 
.navbar-default .navbar-brand li :focus {
  background-color: transparent!important;
  color: red!important;
}
*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #2A9257;
}
#intro{
    padding: 50px 0;
}
.col-about{
    background-image: url('../images/about-bg.jpg');
    background-size: cover;
    padding: 55px;
}
#skills{
    padding: 50px 0;
}
.myskills p{
    line-height: 28px;
}
.contact-us a{
    list-style: none;
    color:#2ECC71;
    border: 2px solid #2ECC71;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px;
    font-weight: bold;
   position: relative;
   top:18px;
    text-transform: uppercase;
}
.col-my-image{
    background-image: url(../images/web.JPG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 95vh;
}
.col-resume{
    line-height: 28px;
}
.download-resume a{
    list-style: none;
     color:#2ECC71;
    border: 2px solid #2ECC71;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px;
    font-weight: bold;
   position: relative;
   top:18px;
    text-transform: uppercase;
}
#resume{
    background-image: url(../images/resume.jpg);
    padding: 50px 0;
}
#education{
    padding: 50px 0;
}
.wapp{
    background-color: #2ECC71;
    padding: 3px 15px;
    color: #fff;
    cursor:pointer;
    position: relative;
    top:5px;
}
#work_experience{
     padding: 50px 0;
}
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}
#about-caursol{
    background-image: url(../images/2.jpg);
    background-size: cover;

}
#portfolio{
    padding: 50px 0;
}
#portfolio-images{
    padding: 50px 0;
}
.images-1{
  margin-bottom: 15px;
}
.images-2{
  margin-bottom: 15px;
}
.images-3{
  margin-bottom: 15px;
}
.social-icon {
    padding: 60px 0 35px;
}

.social-icon > ul {
    text-align: center;
}

.social-icon > ul > li {
    display: inline-block;
    margin-right: 20px;
}

.social-icon > ul > li > a {
    background-color: #26292e;
    display: block;
    height: 70px;
    width: 70px;

    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
         -o-transform: rotateY(180deg);
            transform: rotateY(180deg);

    -webkit-transition: all 400ms ease-out 0s;
       -moz-transition: all 400ms ease-out 0s;
         -o-transition: all 400ms ease-out 0s;
            transition: all 400ms ease-out 0s;
}

.social-icon > ul > li > a > i {
    color: #55606a;
    display: inline-block;
    font-size: 32px;
    line-height: 70px;
    margin: 0;

    opacity: 0.3;
    filter: alpha(opacity=30);

    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
         -o-transform: rotateY(180deg);
            transform: rotateY(180deg);

    -webkit-transition: all 400ms ease-out 0s;
       -moz-transition: all 400ms ease-out 0s;
         -o-transition: all 400ms ease-out 0s;
            transition: all 400ms ease-out 0s;
}

.social-icon > ul > li:hover a {
    background-color: #6CB670;
    
    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
         -o-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.social-icon > ul > li:hover a i {
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
    
    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
         -o-transform: rotateY(0deg);
            transform: rotateY(0deg);
}
#copyright{
   background-image: url(../images/footer.jpg);
   background-size: cover;
   padding: 50px 0;
   color:#fff;
}
#contact-me{
    background-image: url(../images/contact.jpg);
    background-size: cover;
    padding: 50px 0;
    color:#fff;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background-color: #4B5456;
}
input[type=button] {
    background-color: #679E00;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    text-transform: uppercase;
    font-weight: bold;
}
input[type=email] {
   
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    background-color: #4B5456;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}
textarea{
    background-color: #4B5456;
    border: none;
}